<footer id="footer">
  <div class="outer">
    <div id="footer-info">
      <div class="footer-left">
        Copyrights &copy; 2009 - <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.
        All Rights Reserved.
      </div>
      <div class="footer-right">
        <a href="https://hexo.io/" target="_blank">Hexo</a>
        <a href="https://github.com/ldsink/hexo-theme-illya" target="_blank">Illya</a>
      </div>
    </div>
  </div>
</footer>
